.menuImagen{
    width: 30%;
    margin-left: 35%;
    border-radius: 100%;
    z-index: -1;
    
}

h3{
    text-align: center;
}

.imagenEjercicios{
    width: 100%;
    border-radius: 10%;
    padding-bottom: 10px;
}

#muestaUsuarios img{
    width: 10%;
    border-radius: 30%;

}


.CuandroEnviar{
    bottom:0.00; 
    position: fixed !important; 
    top: auto !important; 
    width:92%;
    
}


#muestradeMensajesPanel img{    
    width: 10%;
    border-radius: 30%;
}
#mns{
    background-color: red;
    width: 20%;
    border-radius: 100%;
    margin-left: 80%;
    margin-bottom: 30px;
    position: absolute;
    color: white;
    text-align: center;
}

.remitente{
    background-color: green;
}

#audio{
    display: none
    }








